.app {
  display:flex;
  flex-direction: column;
  width: 80vw;
  margin: 1em auto;
  text-align: center;

  .repos-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  div > header > img  {
    width: 50%;
  }
}

body {
  background-color: rgb(61, 59, 59);
}
.result{
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.search{
  display: flex;

  justify-content: space-between;
}
.form{
  display: flex;
  justify-content: space-between;
}