

.form {

  display: flex;

}

.input {
width: 10;
height: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.button {
 
  background-image:src/assets/images/chercher ;
  padding: 8px 8px;
  border: none;
 
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}



